.tech {
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  text-transform: uppercase;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.android {
  height: 100%;
  width: 300px;
  padding: 10px;
}
.java {
  height: 100%;
  width: 300px;
  padding: 10px;
}
.python {
  height: 100%;
  width: 300px;
  padding: 10px;
}
.php {
  height: 100%;
  width: 300px;
  padding: 10px;
}
.angular {
  height: 100%;
  width: 300px;
  padding: 10px;
}
.django {
  height: 100%;
  width: 300px;
  padding: 10px;
}
.cs {
  height: 100%;
  width: 300px;
  padding: 10px;
}
.net {
  height: 100%;
  width: 300px;
  padding: 10px;
}
