.tech {
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  padding: 25px;
  text-transform: uppercase;
}

.heading {
  font-size: 40px;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;

  background: linear-gradient(to right, black 10%, yellow 50%, purple 60%);
  /*background-size: auto auto;*/
  /*background-clip: border-box;*/
  background-size: 130% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: title1 2.5s linear infinite;
}

@keyframes title1 {
  to {
    background-position: 700% center;
  }
}

.images {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.android {
  height: 100%;
  width: 300px;
  padding-left: 100px;
}

.android:hover {
  transform: scale(1.05);
}

.java {
  height: 100%;
  width: 300px;
  padding-left: 50px;
}

.java:hover {
  transform: scale(1.05);
}

.python {
  height: 100%;
  width: 300px;
  padding: 10px;
}

.python:hover {
  transform: scale(1.05);
}

.php {
  height: 100%;
  width: 300px;
  padding-left: 100px;
}

.php:hover {
  transform: scale(1.05);
}

.angular {
  height: 100%;
  width: 500px;
  padding-left: 30px;
}

.angular:hover {
  transform: scale(1.05);
}

.django {
  height: 100%;
  width: 300px;
  padding: 10px;
}

.django:hover {
  transform: scale(1.05);
}

.cs {
  height: 100%;
  width: 300px;
  padding-left: 100px;
}

.cs:hover {
  transform: scale(1.05);
}

.net {
  height: 100%;
  width: 300px;
  padding-left: 50px;
}

.net:hover {
  transform: scale(1.05);
}
