.title {
  width: 85vw;
  margin: auto;
  font-size: small;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 50px;
  background-color: black;
  color: white;
}

.content {
  font-size: small;
  border: 2px solid #00ff00;
  border-radius: 10px;
  color: white;
}
