.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo {
    height: 120%;
    width: 100px;
    padding: 25px;
  }

  .inst {
    height: 150%;
    width: 100px;
    padding: 10px;
  }
}
