.text-wrapper {
  color: white;
  font-size: 50px;
  font-size: large;
  margin: auto;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;

  background: linear-gradient(to right, black 10%, yellow 50%, purple 60%);
  /*background-size: auto auto;*/
  /*background-clip: border-box;*/
  background-size: 130% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2.5s linear infinite;
}
@keyframes textclip {
  to {
    background-position: 300% center;
  }
}
