.contact {
  background-image: url(/assets/contact.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}

.address {
  font-size: 30px;
  text-align: left;
  padding-left: 200px;
}

.email {
  text-align: left;
  font-size: 30px;
  padding-left: 200px;
  padding-bottom: 50px;
}

.rights {
  text-align: center;
  text-transform: uppercase;
  padding-right: 150px;
}
