.contact {
  background-image: url(/assets/contact.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.connect {
  text-align: left;
  padding-left: 200px;
  font-size: 20px;

  .inst {
    float: left;
    height: 100px;
    width: 100px;
  }

  .fblogo {
    height: 100px;
    flex: 33.33%;
    width: 80px;
  }
}

.contact1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
}

.address {
  font-size: 20px;
  text-align: left;
  padding-left: 200px;
  padding-bottom: 20px;
}

.email1 {
  text-align: left;
  font-size: 20px;
  padding-left: 200px;
  padding-bottom: 50px;
}

.rights {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
