.aboutus {
  text-align: center;
  width: 85vw;
  margin: auto;
  font-size: small;
  display: grid;
  padding: 25px;
  font-size: 42px;
  font-family: Langar;
}

.data {
  text-align: center;
  font-size: large;
}
