.type {
  width: 85vw;
  margin: auto;
  font-size: small;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 40px;
  text-align: center;
  font-family: sans-serif;
}

.business {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

.content1 {
  background: black;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(12, 11, 12, 0.959);
  transition: 0.5s;
  font-size: 20px;
  color: white;
  letter-spacing: 0.3px;
  justify-content: center;
  line-height: 250%;
  font-family: "Poppins", sans-serif;
}

.mail {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

a:link {
  text-decoration: none;
}
